canvas {
    display: none;
}

.container {
    padding-top: 50px;
}

.container-canvas {
    text-align: center;
}

h1, .message {
    display: none;
}

#content {
    display: none;
    margin-top: 50px;
}

img {
    cursor: pointer;
}

.img-active {
    background: #c4c5c6;
}

.title {
    cursor: auto !important;
}

.field {
    margin-top: 10px !important;
}

.background-game {
    background: #c6bdbd;
}

/**
 * Styles for canvas fireworks
**/
canvas {
	cursor: crosshair;
	display: block;
}