canvas {
    display: none;
}

.container {
    padding-top: 50px;
}

.container-canvas {
    text-align: center;
    margin-top: 0px;
}

h1, .message {
    display: none;
}

#content {
    display: none;
    margin-top: 50px;
}

img {
    cursor: pointer;
}

.img-active {
    background: #c4c5c6;
}

.title {
    cursor: auto !important;
}

.field {
    margin-top: 10px !important;
}

.background-game {
    background: #ffffff;
}

.center {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.hearts-column {
    margin: 0 auto;
    margin-top: 20px;
    display: none;
}

.hearts-column > img {
    width: 20px;
}